.cache/
.probe/
.vscode/
.world-host-cache/
cache/
coremods/
crash-reports/
ESM/
figura/
gtceu/
ldlib/
local/
logs/
resourcepacks/
saves/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
trees/
xaero/
XaeroWaypoints_BACKUP*/
solaris_maps/
.persistent/

# Misc loose files
minecraft/hs_err_pid17476.log
minecraft/hs_err_pid18692.log
minecraft/options.txt
minecraft/rhino.local.properties
instance.cfg
minecraft/usercache.json
minecraft/usernamecache.json
minecraft/patchouli_data.json
minecraft/emi.json
