.cache/
.probe/
.vscode/
cache/
coremods/
crash-reports/
ESM/
figura/
gtceu/
ldlib/
local/
logs/
resourcepacks/
saves/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
trees/
xaero/
XaeroWaypoints_BACKUP*/
